<div id="post-{{id}}" class="card">
    <p class="card-title">
      {{title}}
    </p>
    <img class="card-image" src="/{{thumbnail}}" alt="Missing Image" />
    <p class="card-description">
      {{description}}
    </p>
    <a href="/post/{{id}}" class="anchor-button">Post Details</a>
</div>
