<div class="main_flex_container">
	<img class="post-image" src="/{{currentPost.photopath}}" alt="Image not Found" />
	<div class="image_info">
		<h1>{{currentPost.title}}</h1>
    <p>
      By {{currentPost.username}}
    </p>
	<p>
		{{currentPost.description}}
	</p>
	<p>
		<i class="date-posted">{{currentPost.created}}</i>
	</p>
	</div>
		<form class="comment">
			<textarea rows=3 cols="60" id="comment-box-text"></textarea>
			<input type="submit" value="Submit Comment" class="submit_button" id="comment-box-button"/>
			{{#each currentPost.comments}}
				{{> comment this}}
			{{/each}}
		</form>
</div>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		document.querySelectorAll('i[class=date-posted]').forEach((postedDate) => {
			postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
		});
	});

	document.getElementById('comment-box-button').onclick = (event) => {
		let commentText = document.getElementById('comment-box-text').value;
		let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

		if(!commentText) {
			return;
		}
		let fetchOptions = {
			method: "POST",
			headers: {
				"Content-Type":"Application/json"
			},
			body: JSON.stringify({
				comment:commentText,
				postId:postId
			})
		}
			fetch('/comments/create', fetchOptions)
			.then((response) => response.json())
			.then((data) => {
				console.log(data);
			})
			.catch(err => console.log(err));
	}
</script>
