<div class="main_flex_container">
	<img class="post-image" src="/{{currentPost.photopath}}" alt="Image not Found" />
	<div class="image_info">
		<h1>{{currentPost.title}}</h1>
    <p>
      By {{currentPost.username}}
    </p>
	<p>
		{{currentPost.description}}
	</p>
	<p>
		<i class="date-posted">{{currentPost.created}}</i>
	</p>
	</div>
		<form class="comment" method="POST" action="/comments/create" enctype="application/x-www-form-urlencoded">
			<textarea rows=3 cols="60" name="comment"></textarea>
			<input type="submit" value="Submit Comment" class="submit_button"/>
			{{#each currentPost.comments}}
				{{> comment this}}
			{{/each}}
		</form>
</div>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		document.querySelectorAll('i[class=date-posted]').forEach((postedDate) => {
			postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
		});
	});
</script>
