<div class="main_flex_container">
	<img class="post-image" src="/{{currentPost.photopath}}" alt="Image not Found" />
	<div class="image_info">
		<h1>{{currentPost.title}}</h1>
    <p>
      By <i>{{currentPost.username}}</i>
    </p>
	<p>
		{{currentPost.description}}
	</p>
	<p>
		On {{currentPost.created}}
	</p>
	</div>
	<div class="comments">
		<form class="comment">
			<textarea rows=3 cols="60" name="comment_text"></textarea>
			<input type="submit" value="Submit Comment" class="submit_button"/>
		</form>
		<div class="comment">
			<p>
				<strong>Some Name: </strong> Some kind of comment saying something annoying.
			</p>
		</div>
		<div class="comment">
			<p>
				<strong>Some Name: </strong> Some kind of comment saying something annoying.
			</p>
		</div>
	</div>
</div>
